/* Estilos para a seção de habilidades */
.skills-container {
  width: 100%;
  overflow: hidden;
  margin: var(--spacing-xl) 0;
  position: relative;
}

.skills-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill {
  flex: 0 0 auto;
  width: 120px;
  margin: 0 var(--spacing-md);
  text-align: center;
  transition: var(--transition-fast);
}

.skill:hover {
  transform: translateY(-10px);
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: var(--spacing-sm);
  color: var(--primary-color);
}

.skill h3 {
  font-size: var(--font-size-normal);
  margin-top: var(--spacing-xs);
  color: aliceblue;
}

/* Estilos específicos para cada ícone de habilidade */
.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #1572b6;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-react {
  color: #61dafb;
}

.fa-node-js {
  color: #339933;
}

.fa-python {
  color: #3776ab;
}

.fa-git {
  color: #f05032;
}

.fa-github {
  color: #181717;
}

.fa-docker {
  color: #2496ed;
}

.fa-linux {
  color: #fcc624;
}

.fa-windows {
  color: #0078d6;
}
